<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Congressional Travel Explorer{% endblock %}</title>
     <!-- Open Graph Meta Tags -->
     <meta property="og:title" content="About | Congressional Travel Explorer">
     <meta property="og:description" content="Read more about the Howard Center for Investigative Journalism's Congressional Travel Explorer project.">
     <meta property="og:image" content="{{ BASE_PATH }}/static/congtravelcard.png">
     <meta property="og:url" content="https://cnsmaryland.org/{{ BASE_PATH }}/">
     <meta property="og:type" content="website">
     <!-- Twitter Card Meta Tags -->
     <meta name="twitter:card" content="summary_large_image">
     <meta name="twitter:title" content="About">
     <meta name="twitter:description" content="Read more about the Howard Center for Investigative Journalism's Congressional Travel Explorer project.">
     <meta name="twitter:image" content="https://cnsmaryland.org/{{ BASE_PATH }}/static/congtravelcard.png">
    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&amp;display=swap" rel="stylesheet">
    <!--Styles-->
    <link href="{{ BASE_PATH }}/static/css/style.css" rel="stylesheet"/>
    <!--Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
   <!--Favicon from Twemoji-->
   <link rel="icon" type="image/png" sizes="32x32" href="{{ BASE_PATH }}/static/favicon/android-chrome-192x192.png">
    <!-- METRICS -->
    <meta name="parsely-title" content="About | Congressional Travel Explorer" />
    <meta name="parsely-link" content="https://cnsmaryland.org/{{ BASE_PATH }}/about.html" />
    <meta name="parsely-type" content="post" />
    <meta name="parsely-image-url" content="TK" />
    <meta name="parsely-pub-date" content="2024-11-20" />
    <meta name="parsely-section" content="Congressional Travel Explorer" />
    <meta name="parsely-author" content="Howard Center for Investigative Journalism" />
    <meta name="parsely-tags" content="politics, congress, travel, lobbying, non-profits" />
    <!-- METRICS -->

   
</head>
<body>
  
 <header class="header style3 dark">
        <div class="row">
            <div class="small-2 columns text-left mobile-icon-holder">
                <div class="mobile-toggle-holder">

                </div>
            </div>
            <div class="small-8 large-12 columns logo">
                <div id="menu_width">
                    <a href="https://cnsmaryland.org/the-howard-center-for-investigative-journalism/" class="logolink">
                        <img src="https://cnsmaryland.org/wp-content/uploads/2023/10/howard-site-header.png" class="logoimg" alt="The Howard Center for Investigative Journalism">
                    </a>
                    
                            </div>
                        </div>
                 
                </div>
    </header>

    <!-- Main content of the page -->
    <main>
        <div class="w3-container">
          <h1><a href="{{ BASE_PATH }}/" class="home-link">Congressional Travel Explorer</a></h1>
          <div class="search-wrapper">
            <div class="search-container">
                <input type="text" id="searchInput" class="search-input" placeholder="Search sponsors, destinations and U.S. House members...">
            </div>
            <div id="resultsDropdown" class="results-dropdown"></div>
        </div>


w