<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}My Site{% endblock %}</title>
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ cleaned_filer_names }} | Congressional Travel Explorer">
    <meta property="og:description" content="View {{ cleaned_filer_names}}'s trip to {% for row_dict in trip_destination %} {%- if not loop.first -%}{% if loop.last and trip_destination|length > 1 %}and {% else -%};{% endif %}{%- endif -%}{{ row_dict.destination }} {% endfor %}in {{ member_name }}'s office during {{ year }}.">
    <meta property="og:image" content="{{ BASE_PATH }}/static/congtravelcard.png">
    <meta property="og:url" content="https://cnsmaryland.org/{{ BASE_PATH }}/{{ doc_id }}.html">
    <meta property="og:type" content="website">
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ cleaned_filer_names }} | Congressional Travel Explorer">
    <meta name="twitter:description" content="View {{ cleaned_filer_names}}'s trip to {% for row_dict in trip_destination %} {%- if not loop.first -%}{% if loop.last and trip_destination|length > 1 %}and {% else -%};{% endif %}{%- endif -%}{{ row_dict.destination }} {% endfor %}in {{ member_name }}'s office during {{ year }}.">
    <meta name="twitter:image" content="https://cnsmaryland.org/{{ BASE_PATH }}/static/congtravelcard.png">

    <!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&amp;display=swap" rel="stylesheet">
    <!--Styles-->
    <link href="{{ BASE_PATH }}/static/css/style.css" rel="stylesheet"/>
    <!--Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--Favicon from Twemoji-->
    <link rel="icon" type="image/png" sizes="32x32" href="{{ BASE_PATH }}/static/favicon/android-chrome-192x192.png">
    <!-- METRICS -->
    <meta name="parsely-title" content="Trip by {{ cleaned_filer_names }} in U.S. Rep. {{ member_name }}'s office | Congressional Travel Explorer" />
    <meta name="parsely-link" content="https://cnsmaryland.org/{{ BASE_PATH }}/{{ doc_id }}.html" />
    <meta name="parsely-type" content="post" />
    <meta name="parsely-image-url" content="TK" />
    <meta name="parsely-pub-date" content="2024-11-20" />
    <meta name="parsely-section" content="Congressional Travel Explorer" />
    <meta name="parsely-author" content="Howard Center for Investigative Journalism" />
    <meta name="parsely-tags" content="politics, congress, travel, lobbying, non-profits" />

</head>
<body>
  
 <header class="header style3 dark">
        <div class="row">
            <div class="small-2 columns text-left mobile-icon-holder">
                <div class="mobile-toggle-holder">

                </div>
            </div>
            <div class="small-8 large-12 columns logo">
                <div id="menu_width">
                    <a href="https://cnsmaryland.org/the-howard-center-for-investigative-journalism/" class="logolink">
                        <img src="https://cnsmaryland.org/wp-content/uploads/2023/10/howard-site-header.png" class="logoimg" alt="The Howard Center for Investigative Journalism">
                    </a>
                    
                            </div>
                        </div>
                 
                </div>
    </header>

    <!-- Main content of the page -->
    <main>
        <div class="w3-container">
        <h1><a href="{{ BASE_PATH }}/" class="home-link">Congressional Travel Explorer</a></h1>
       <div class="search-wrapper">
            <div class="search-container">
                <input type="text" id="searchInput" class="search-input" placeholder="Search sponsors, destinations and U.S. House members...">
            </div>
            <div id="resultsDropdown" class="results-dropdown"></div>
        </div>

        <p class="example-query">
          Example searches: <a href="{{ BASE_PATH }}/member/M001165.html">Kevin McCarthy</a>, <a href="{{ BASE_PATH }}/destination/30.html">Ankara, Turkey</a> or <a href="{{ BASE_PATH }}/sponsor/18.html">American Israel Education Foundation</a> | <a href="{{ BASE_PATH }}/document-search.html">Search documents</a> | <a href="{{ BASE_PATH }}/about.html">About this project</a>
      </p>


<!-- Add this after your chart scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.6.2/fuse.min.js"></script>
    <script>const BASE_PATH = "{{ BASE_PATH }}";</script>
    <script src="{{ BASE_PATH }}/static/search.js"></script>





        
<!--
        Example searches: <a href="/member/S001189">Rep. Steny Hoyer, D-Md.</a>

        <p><a href="http://127.0.0.1:5000/trip/500006933">Trip example</a></p>
        
        <p><a href="/sponsor/100">Sponsor example</a></p>
        <p><a href="/destination/99">Destination example</a></p>
        <p><a href="/member/S001189/filer/Matthew%20Hodge">Filer-member example</a></p>
        -->
    

        {% block content %}
        {% endblock %}
    </div>
    </main>
    <br>


   <!-- Footer -->
   <footer id="subfooter" class="dark style1">
    <div class="row">
      <div class="small-12 columns">
        <div class="subfooter-menu-holder text-center">
          <div class="subfooter-menu">
            <ul id="menu-footer-menu-2020" class="footer-menu">
              <li class="menu-item">
                <a class="footer-item" href="https://cnsmaryland.org/about-capital-news-service/">ABOUT CNS</a>
              </li>
              <li class="menu-item">
                <a class="footer-item" href="https://merrill.umd.edu/">MERRILL COLLEGE</a>
              </li>
              <li class="menu-item">
                <a class="footer-item" href="https://cnsmaryland.org/capital-news-service-wire/" class="footer-link">CNS WIRE</a>
              </li>
              <li class="menu-item">
                <a class="footer-item" target="_blank" rel="noopener" href="https://www.facebook.com/MarylandCNS/"><i class="bi bi-facebook"></i></a>
              </li>
              <li class="menu-item">
                <a class="footer-item" target="_blank" rel="noopener" href="http://twitter.com/CNSmd"><i class="bi bi-twitter"></i></a>
              </li>
              <li class="menu-item">
                <a class="footer-item" target="_blank" rel="noopener" href="https://www.youtube.com/user/CNSMaryland"><i class="bi bi-youtube"></i></a>
              </li>
              <li class="menu-item">
                <a class="footer-item" target="_blank" rel="noopener" href="https://www.instagram.com/cnsmd/"><i class="bi bi-instagram"></i></a>
              </li>
              <li class="menu-item">
                <a class="footer-item" target="_blank" rel="noopener" href="http://snapchat.com/add/cnsmaryland"><i class="bi bi-snapchat"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

 <!-- START Parse.ly Include: Standard -->
 <script id="parsely-cfg" src="//cdn.parsely.com/keys/cnsmaryland.org/p.js"></script>
 <!-- END Parse.ly Include: Standard -->   
</div>

    
</body>
</html>